.wrapper {
    position: absolute;
    background-color: white;
    width: 15rem;
    height: 100%;
}

@media (max-height: 1024px) {
    .wrapper {
        height: 150%;
    }
}

@media (max-height: 800px) {
    .wrapper {
        height: 230%;
    }
}

@media (min-height: 300px) {
    .wrapper {
        height: 210%;
    }
}

.sidebarItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.sidebarItem:hover {
    background-color: rgba(0, 156, 0, 0.795);
    color: white;
    cursor: pointer;
}

.selected {
    background-color: rgba(0, 156, 0, 0.795);
    color: white;
}